@import "base/variables";
@import "base/mixins";
@import "general";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "media/media"; //madia файл должен находиться в конце, иначе произойдёт переопределение




* {
    font-family: 'MuseoModerno', sans-serif;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}


























		
				
		

	
	
	
	

















	




	