.advantages {
    padding: 73px 0 65px 0;
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
        font-size: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px; 
        align-items: start;
    }
    &__item {
        width: 268px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 70px;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        span {
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}